<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4>{{ contact.name }}</h4>
        <p>{{ contact.title }} </p>
        <p>{{ contact.institution_address }}</p>
        <p>Phone: {{ contact.phone }}</p>
        <p>Email: {{ contact.email }}</p>
        <p>
          <a href="/data_science_projects/time_series/Sales_forecasting(22.02.2023).md"></a>
        </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
